- @title_for_layout = @repository.name
- @body_class = "repositories"
- @body_id = "edit_repository"

= form_for @repository, :html => {:id => :edit_repository_form} do |f|

  = render :partial => "shared/flash_notice"

  .box
    .content
    
      .form_row
        = f.label :name
        = f.text_field :name, :class => :textbox
        
      .form_row
        = f.label :personal_description
        = f.text_area :personal_description, :class => :textbox
        
      .form_row
        %label Tags
        #tags_list.clearfix
          - @tags.each do |tag|
            .tag_label= tag.name
        
        %input{:type => :text, :class => :textbox, :id => :tags_box}
        
      = f.submit :value => "Update repo information", :class => :action_button
      
= content_for :head do
  = javascript_include_tag "models/tag", "collections/tags", "views/tagsBoxView", "views/tagsListView", "edit_repo.js"
  
= render 'jquery_templates'

:javascript
  window.repository_id = #{@repository.id}