- @title_for_layout = "Repositories"
- @body_class = "repositories"
- @body_id = "repositories"

.box
  .content
    - if @repositories.size > 0
      %ul.repos_list
        - @repositories.each do |r|
          %li
            = link_to r.name, edit_repository_path(r), :class => :repo_name
            = link_to "Edit", edit_repository_path(r), :class => :edit_repo, :title => "Add a personal description for this repo"
            = link_to "View", repository_path(r), :class => :repo_github_url, :title => "View details of this repo"
    - else
      .form_row You don't have any repositories here.
      
      %a.action_button#sync_github Sync my Github
      = image_tag "ajax-loader.gif", :id => :spinner, :class => :spinner 
      
= will_paginate(@repositories)

= render 'search_dialog'
      
:javascript

  $(function() {
    var repositories = new Repositories
    var repository = new Repository

    var githubSyncView = new GithubSyncView({
      el: $("#repositories"),
      collection: repositories
    })
    
    var githubRepositoriesListView = new GithubRepositoriesListView({
      collection: repositories
    })
    
    var searchDialog = new SearchDialog({
      collection: repositories
    })
    
    
  })
      