- @title_for_layout = @repository.name
- @body_class = "repositories"
- @body_id = "repository_show"

.box
  .content
    %ul.repo_info_list
      %li 
        %span Repo's name:
        = @repository.name
      
      %li 
        %span Description on Github: 
        = @repository.description
        
      %li
        %span Your personal description of this repo:
        = @repository.personal_description.blank? ? "Not written yet" : @repository.personal_description
        
      %li
        %span Size:
        = (@repository.size/1024.0).round(2)
        MB
        
      %li
        %span Language:
        = @repository.language
        
      %li
        %span Owner:
        %a{:href => "http://github.com/#{@repository.owner}", :target => "blank"}= @repository.owner
        
      %li
        %span Homepage:
        %a{:href => @repository.homepage, :target => "blank"}= @repository.homepage
      
      %li
        %span Watchers:
        = @repository.watchers
        
      %li
        %span Forks:
        = @repository.forks
        
      %li
        %span Wiki:
        = @repository.has_wiki? ? "Yes" : "No"
        
      %li
        %span Has download:
        = @repository.has_downloads? ? "Yes" : "No"
        
    = link_to "Add tags and personal description", edit_repository_path(@repository), :class => :action_button