<!DOCTYPE html>
<html>
<head>
  <title><%= @title_for_layout %> - My Github Library</title>
  <%= stylesheet_link_tag    "master" %>
  <%= javascript_include_tag "application" %>
  <%= yield :head %>
  <%= csrf_meta_tags %>
</head>
<body id="<%= @body_id %>">

<%= render :partial => "shared/header" %>  

<%= render :partial => "shared/username_pane" %>

<%= render :partial => "shared/nav" %>  

<%= yield %>

<div id="overlay"></div>

<%= render :partial => "shared/footer" %>  

</body>
</html>
