<!DOCTYPE html>
<html>
<head>
  <title><%= @title_for_layout %> - My Github Library</title>
  <%= stylesheet_link_tag     "master.css" %>
  <%= javascript_include_tag  "jquery", "jquery_ujs", "jquery.autocomplete", "jquery.template", "_underscore", "backbone", 
                              "collections/repositories", "models/repository",
                              "views/githubSyncView", "views/myGithubLibraryView", 
                              "views/searchDialog", "master" %>
  <%= yield :head %>
  <%= csrf_meta_tags %>
</head>
<body id="<%= @body_id %>">

<%= render :partial => "shared/header" %>

<%= render :partial => "shared/username_pane" %>

<%= render :partial => "shared/nav" %>  

<div id="content">
  <%= yield %>
</div>

<div id="overlay"></div>

<%= render :partial => "shared/search_dialog" %>  

<%= render :partial => "shared/github_sync_status" %>

<%= render :partial => "shared/footer" %>  

</body>
</html>
