<!DOCTYPE html>
<html>
<head>
  <title><%= @title_for_layout %> - My Github Library</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "underscore.js", "backbone.js" %>
  <%= csrf_meta_tags %>
</head>
<body id="<%= @body_id %>">

<%= render :partial => "shared/header" %>  

<%= yield %>

<%= render :partial => "shared/footer" %>  

</body>
</html>
